
<div id="nav">
	<ul>
		<li>
			<a href="#">
				<%= link_to "Statut", {:controller => "import_managers", :action => "index"}%> 
		    </a> 
		</li>
		<li>
			<a href="#">
				<%= link_to "Chargement des fichiers", {:controller => "import_managers", :action => "load_files"}%> 
		    </a> 
		</li>
	</ul>
</div>

<%= render 'shared/content_header' %>