<p>
    En un premier temps, il est nécessaire de charger les fichiers (CHARGEMENT DES FICHIERS), 
    sous format “.csv”, contenant les données de la base de données externe, en
    mémoire vive.
</p>

<p>
    Ces fichiers doivent être placés sous le bon nom, au bon endroit 
    (répertoire “db/EPCcsvs/”) et sous le bon format. 
</p>

<p>
    L'opération de chargement de fichiers peut être relativement lente.
</p>