<p>
	Cette interface est présentée lorsque l'utilisateur est requis par le gestionnaire d'import
	pout corriger une/des erreur(s) ou pour confirmer une mise à jour.
</p>

<p>
	A tout moment, l'utilisateur est libre de quitter l'interface d'import (par la sélection 
	d'une autre interface de l'application) et d'y revenir par l'intermédiaire du status du 
	gestionnaire (STATUT).
</p>