
<p>
    La composition de programmes permet, depuis une liste de diplômes proposés, d’en choisir un 
    et de composer son propre programme sur base du diplôme choisi.
</p>

<p>
    La première étape consiste à choisir un diplôme, l'interface de composition correspondante
    apparaitra ensuite. Pour choisir une diplôme, sélectionnez le sigle correspondant.
</p>