
<p>
    Le contenu du programme est affiché à l’utilisateur, dévoilant l’ensemble des modules obligatoires (en gras) 
    relativement à leur module 'conteneur', l'ensemble des modules sélectionnés (en bleu) ainsi 
    que l’ensemble des choix (utiliser les 'check boxes').
</p>

<p>
    Les modules obligatoires relativement à la racine du programme sont présélectionnés et ne peuvent   
    être désélectionnés. Ceux-ci peuvent-être sélectionnés à nouveaux via les 'check-boxes' permettant 
    ainsi de comptabiliser le total de crédits par quadrimestre.
</p>