
<div id="nav">
	<ul>
		<li>
	    	<a href="#">
				<%= link_to "Lister les diplomes", {:controller => "diplome_objects", :action => "index"}%> 
		    </a> 
		</li>
		<li>
	    	<a href="#">
				<%= link_to "Créer un nouveau diplome", "/create_diplome" %>
		    </a> 
		</li>
	</ul>
</div>

<%= render 'shared/content_header' %> 