<p>
    Liste des versions liées au module présenté. Une version est considérée comme liée à celle-ci
    si une correspondance existe entre les sigles.
</p>
<p>
    Chaque version peut être visitée via le lien correspondant, ou peut être comparée, vis-à-vis
    de la version présentée, via l'outil de comparaison préconfigré comme nécessaires.
</p>