<p>
	Sigle du module. Il doit être unique parmi les cours et ensembles. Un cours peut
	être doté de plusieurs sigles. Dans ce cas, ceux-ci sont listés, séparés par des virgules.
</p>

<p>
	Par exemple : "Sigle1, Sigle2, Sigle3"
</p>