Le statut représente le type de version du module. Le statut peut prendre trois formes.

<p>
    Actuelle : version actuellement prise en compte dans le programme. Seule cette version
    est prise en compte lors de la composition d’un programme ou lors des vérifications des
    contraintes.
</p>

<p>
    Future : projet de modification de la version actuelle ou de création d’un nouveau module. 
    L’année durant laquelle la modification, ou le nouveau module, devra être prise en
    compte est associée à la version et apparait dans le sigle du module.
</p>

<p>
    Archive : version sauvegardée avant une modification de module. La date d’archivage
    est associée à la version et apparait dans le sigle du module.
</p>
