<p>
	Listing de tous les cours présents dans la base de données. Une présentation de chacun d'eux peut 
	être obtenue en sélectionnant le lien correspondant.
</p>

<p>
	Cette liste peut être filtrée via l'outil de recherche placé en haut à droite de l'interface.
</p>