<p>
	Listing de l'ensemble des diplômes. Une présentation de chacun d'eux peut 
	être obtenue en sélectionnant le lien correspondant.
</p>

<p>
	Les diplômes sont des données particulières de l’application, effectuant la jonction entre la "partie
	Commission", et la "partie étudiant". En effet, seuls les programmes associés à un object "diplome"
	peuvent faire l'objet d'une composition via le menu ETUDIANT > COMPOSER MON PROGRAMME. L’utilisateur est invité à créer 
	un “diplome” pour chaque programme existant.
</p>