<p>
	Le rapport global affiche les incohérences et violations de contraintes
	présentes sur la version éditable à son état tel qu’affiché. 
</p>

<p>
	Ce rapport est mis à jour à chaque modification de la structure. 
</p>

<p>
	Les boutons de sauvegarde de programme ne peuvent être utilisés que si 
	ce rapport ne contient aucun message d’erreur autre que des messages
	portant sur la violation de contraintes légales.
</p>
