<p>
    Permet deux choses :
</p>

<p>
    – Modifier une structure existante, appliquant directement les effets sur la version 
    actuelle. Pour ce faire, l'utilisateur doit entrer un sigle existant. 
</p>

<p>
    – Créer un ensemble sous forme de version future. Pour ce faire, l'utilisateur peut 
    soit entrer un sigle existant lors de la sélection de l'ensemble, auquel cas cet 
    ensemble servira de base lors de l'édition, soit entrer un sigle neuf si 
    l'utilisateur n'a besoin d'aucune base.
</p>

<p>
    Une fois le sigle entré, sélectionnez "commencer" pour entamer le processus d'édition. 
    Si un sigle existant est spécifié, le chargement du programme correspondant peut être 
    relativement lent en fonction de sa taille.
</p>