<p>
    Version de la structure non sauvegardée sur la mémoire persistante, pouvant 
    violer des contraintes et contenir des erreurs (affichées dans le rapport). 
</p>

<p>
    Une fois que la version éditable a été adaptée selon les besoins de 
    l'utilisateur et qu'elle est correcte (si le rapport ne contient rien, 
    ou uniquement des contraintes légales), l’utilisateur a l’opportunité 
    de le sauvegarder dans la base de données. 
</p>

<p>
    Utiliser le bouton "-" pour supprimer un module du contenu de son parent.
</p>

<p>
    Utiliser le bouton "+" pour ajouter un module au contenu du module associé.
</p>

<p>
    Utiliser le bouton "Edit" pour éditer le module associé.
</p>

<p>
    Les modules affichés en gras sont des modules obligatoires par rapport à 
    leur parent direct. Les autres sont optionnels.
</p>

<p>
    Les ensembles sont affichés en bleu.
</p>