<p>
    Correspond à la version actuellement présente dans la base de données. 
    Ces informations sont données à titre indicatif et ne peuvent être changées
    autrement que par la sauvegarde de la version éditable.
</p>

<p>
    Les modules affichés en gras sont des modules obligatoires par rapport à 
    leur parent direct. Les autres sont optionnels.
</p>

<p>
    Les ensembles sont affichés en bleu.
</p>