<p>
    Après avoir entré deux sigles existants, l’outil propose une vue sur les deux modules 
    placés côte à côte, dont le contenu est chargé récursivement. 
</p>

<p>
    La présentation se fait sous forme d’arbre pour lequel chaque nœud peut être "déroulé" 
    sur demande. Les modules obligatoires vis-à-vis de leur parent sont décris en gras.
</p>