<p>
	Le contenu d'un ensemble prend la forme d’une liste des modules contenus, séparés par des virgules. 
	Pour chaque élément, trois informations doivent être données : <br>
	- Le sigle <br>
	- L’année durant laquelle le contenu doit être suivi (1,2,3 ou toute combinaison de ces chiffres) <br>
	- Le caractère obligatoire, ou non, du contenu dans l’ensemble (true ou false) 
</p>

<p>
	Par exemple : “LSINF900R 1-2 true, LSINF220S 1-2 true, LSINF220T 1-2 true” 
</p>

<p>
	Un contenu vide est accepté.
</p>