<p>
	Arbre interactif présentant la structure considérant cet ensemble comme racine.
</p>

<p>
	Les sigles sont affichés en gras lorsqu'un module est obligatoire par rapport à 
	son parent direct.
</p>