<p>
    Permet de supprimer l'ensemble actuel, ainsi que chaque module contenu, et ce 
    itérativement jusqu’aux feuilles. 
</p>

<p>
    La suppression est rejetée si au moins un module contenu, ou le module racine lui-même, 
    est encore lié à un autre ensemble ou a une contrainte.
</p>