<div id="nav"> </div>


<%= render 'shared/content_header' %>

Application développée dans le cadre du mémoire intitulé :<b> 
<p>
	" Développement d’un outil d’aide à la gestion des programmes
	d’études en sciences informatiques " </b> .
</p>
