
<div id="nav">
    <ul>
        <li>
            <a href="#">
                <%= link_to "Sélectionner une nouvelle racine", {:controller => "compositors", :action => "index"}%> 
            </a> 
        </li>
    </ul>
</div>

<%= render 'shared/content_header' %>

