<p>
    Condition sous laquelle la contrainte est activée. Par activée, il faut 
    entendre que l’effet est évalué.
</p>

<p>
    Une condition est une formule logique, éventuellement parenthésée, 
    formée de sigles connectés entre-eux par des opérateurs binaires. 
    Les opérateurs reconnus sont : <br>
    "&" ou "&&" = "et" <br>
    "|" "||" = "ou" <br>
    "ˆ" = "ou exclusif" 
</p>

<p>
    De plus, l'opérateur unaire "!" peut être utilisé pour représenter 
    la négation.
</p>

<p>
    Exemple : "LSINF100B ^ (LSINF101R & (LSINF102R | !LSINF103R)) " 
</p>

<p>
    Une condition est vraie si, pour une sélection donnée, son évaluation
    donne "true". Une formule est évaluée en substituant les sigles sélectionnés
    par "true", et les autres par "false".
</p>