<p>
    Lorsque la condition est vraie, l’effet doit être appliqué. Concrètement, l’effet
    est une action résultant en un message d’indication à l’intention de l’étudiant, ou à une
    modification de la structure.
</p>

<p>
    Le champ "effet" contient une liste d'effets sous forme de liste, séparés par 
    "&" ou "&&".
</p>

<p>

    Les effets reconnus sont :<br>
    <br>

    "S1" = le module auquel le sigle "S" appartient est rendu obligatoire.<br>
    <br>
    
    "!S1" = le module auquel le sigle "S" appartient est rendu interdit.<br>
    <br>

    "E(S1)" = la sélection du module auquel le sigle "S1" appartient est vivement
    encouragée.<br>
    <br>

    "C(S)" = la sélection du module auquel le sigle "S1" appartient nécessite
    l’approbation de la Commission.<br>
    <br>

    "T(S)" = la sélection du module auquel le sigle "S1" appartient nécessite la
    réussite préalable d’un test.<br>
    <br>

    "M[S1>S2]" = le module auquel le sigle "S1" appartient est remplacé par celui
    auquel le sigle "S2" appartient, et ce, dans le programme sur lequel l’étudiant effectue ses
    choix.<br>
    <br>

</p>

<p>
    Exemple : " !LSINF100B & T(LSINF101R) & M(LSINF102R > LSINF103R] " 
</p>