<p>
    Listing de l'ensemble des contraintes portant sur les choix. Une présentation de chacune d'elles peut 
    être obtenue en sélectionnant le lien correspondant.
</p>

<p>
    Ces contraintes ne sont prises en compte que lors de la composition de programmes ( 
    menu ETUDIANT > COMPOSER MON PROGRAMME ).
</p>